*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
@mixin flex-collumn($gap: 0rem){
    display: flex;
   flex-direction: column;
   gap:$gap;
}
section{
    max-width: 1600px;
}
main{
    align-items: center;
    height: 100vh;
    width: 100vw;
    @include flex-collumn();

    section.view1{
        padding: 1rem;
        @include flex-collumn(1rem);


        .top{
           width: 100%;
            img{
                border-radius: 1rem;
                width: 100%;
            }
        }
        .bottom{
            @include flex-collumn(1rem);
            background-color: rgb(56, 55, 55);
            width: 100%;
            padding: 1rem;
            margin-top: .1rem;
            border-radius: 1rem;
            p{margin-bottom: 1rem;
                font-weight: 300;
                opacity: 0.7;
                line-height: 1.5rem;
                font-size: 1.5rem;

            }
            h1{
                font-weight: 200;
                font-size: 3rem;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }
            button{
                width: 100%;
                padding: .7rem;
                border-radius: .5rem;
                border: none;
                background-color: black;
                color: white;
                font-size: 1.2rem;
                cursor: pointer;
                margin-bottom: 0rem;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: white;
                    color: black;
                    font-weight: bold;
                }
            }
            
        }
    }
    section.view2{
        
        padding: 1rem;
        width: 100%;
        @include flex-collumn(1rem);
            .top,.bottom{
                display: flex;
                width: 100%;
                justify-content: space-evenly;
            }
            .element{
                text-align: center;
                @include flex-collumn(.2rem);
                h2{ 
                    font-size: 2rem;
                    font-weight: 200;
                    text-transform: uppercase;
                    
                    
                }
            }
    }
    section.view3{
        padding: 1rem;
        width: 100%;

        @include flex-collumn(1rem);
        .top{
              img{
                width: 100%;
                border-radius: .7rem;
                 }

        }
        .bottom{
            @include flex-collumn(1rem);
            background-color: rgb(56, 55, 55);
            width: 100%;
            padding: 1rem;
            margin-top: .1rem;
            border-radius: 1rem;
        }

      
    }
} 


@media (min-width: 900px) {
    main{
        section.view1{
            padding: 1rem 3rem;
            flex-direction: row;
            .top, .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;
                h1{margin-top: 5rem;
                    font-size: 4rem;}
                p{font-size: 2.2rem; line-height: 2rem; margin-bottom: 0rem;}
            }
        }

      section.view2{
        flex-direction: row;
        justify-content: space-around;
        .top,.bottom{
            .element{
                h2{ font-size: 3rem;}
            }
        }
        }
       section.view3{
        flex-direction: row-reverse;
        padding: 1rem 3rem;
        .top, .bottom{
            width: 50%;
        }
        .bottom>p{
            font-size: 2rem,;opacity: 0.8;
        }
        .bottom{justify-content: space-between; text-transform: uppercase;
                padding: 3rem;
                    .text{
                        
                        h1{margin-top: 5rem;
                        font-size: 4rem;
                        font-weight: 300;
                        }
                        
                          .para{
                            width: 100%;
                             display: flex;
                             gap: 2rem;
                             font-size: 1rem;
                             p{
                                opacity: 0.7;
                                font-size: 1.2rem;
                            
                             line-height: 1.3rem;}
                }
            }
        }
      } 
    }    
}
